<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Calculator</display-name>
	<welcome-file-list>
		<welcome-file>Authorization.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Check</display-name>
		<servlet-name>Check</servlet-name>
		<servlet-class>PEBB.Check</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Main</display-name>
		<servlet-name>Main</servlet-name>
		<servlet-class>PEBB.Main</servlet-class>
	</servlet>
	 <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
</web-app>